<!DOCTYPE html>
<html>
<head>
    <title>Random Page</title>
</head>
<body>
    <main>
        <section>
            <p>You're here cause database connection worked successfully!</p>
            <button id="buttonToIndex">Back to home page</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Petify</p>
    </footer>
</body>


<script>
var buttonToIndex = document.getElementById("buttonToIndex");
buttonToIndex.addEventListener("click", function () {
        window.location.href = "/";
    });
</script>

</html>

